"\e[5~": history-search-backward   
"\e[6~": history-search-forward 
# bindkey "^[[5~" history-beginning-search-backward

#bindkey "^[[6~" history-beginning-search-forward
#"\C-p": reverse-search-history
#"\C-s": forward-search-history

